body {
    width: 100%;
    justify-content: center;
}

#usuario_container{
    margin-top: 100px;
    width: 100%;
    height: 800px;
    padding: 0 0 30% 0;
}

#container_usuario {
    margin: 0 auto;
    text-align: center;
    padding: 5% 0 6% 0;
    margin-top: 100px;
    width: 950px;
    border: 1px solid rgba(53, 53, 53, 0.467);
    border-radius: 10px;
}

#salvar {
    margin-top: 20px !important;
    height: 50px !important;
    width: 200px !important;
    background-color: rgb(7, 95, 44);
}

#salvar:hover {
    background-color: rgb(4, 116, 51) ;
    border: 0.5px solid  rgb(5, 51, 24);
}